@import "tailwindcss";

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/Bebas/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos";
  src: url("/fonts/Dingos/Dingos-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos-Bold";
  src: url("/fonts/Dingos/Dingos-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos-ExtraBold";
  src: url("/fonts/Dingos/Dingos-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9898ef;
  --secondary-color: #6f74d6;
}

.login-container {
  /* background: radial-gradient(
    circle at 65% 50%,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  ); */
}
