@import "tailwindcss";

@font-face {
  font-family: "JustMeAgainDownHere";
  src: url("/fonts/JustMeAgainDownHere.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas-Neue";
  src: url("/fonts/Bebas/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos";
  src: url("/fonts/Dingos/Dingos-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos-Bold";
  src: url("/fonts/Dingos/Dingos-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dingos-ExtraBold";
  src: url("/fonts/Dingos/Dingos-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9898ef;
  --secondary-color: #6f74d6;
}

.login-container {
  /* background: radial-gradient(
    circle at 65% 50%,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  ); */
}

.group-member-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  user-select: none;
}

.group-member-title {
  letter-spacing: -0.01em;
  color: #ffffffb3;
  white-space: nowrap;
  font-family: Dingos, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.group-member-name {
  letter-spacing: -0.01em;
  color: #ffffff;
  white-space: nowrap;
  font-family: JustMeAgainDownHere, sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 140%;
}

.user-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0px 25px;
  height: 50px;

  background: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;

  border-radius: 40px; /* Half of the height */
  user-select: none;
}

.user-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content; /* or width: max-content; */
  white-space: nowrap; /* prevent wrapping */
  padding: 0px 30px;
  height: 50px;

  color: black;
  background: white;
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid black;
  margin-top: 2px;

  border-radius: 30px; /* Half of the height */
  /* transform: translateX(30%); */
  transform: translateX(-70%);

  &[data-align="right"] {
    transform: translateX(30%);
  }

  user-select: none;
}

.animate-input-text {
  user-select: none;
  pointer-events: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Inter;
  overflow: hidden;
  will-change: transform;

  & .char {
    /* backface-visibility: hidden;
    -webkit-font-smoothing: antialiased; */
  }
}

.input-hover-helper {
  background: transparent;
  width: 480px;
  height: 100px;
  pointer-events: auto;
}
